---
layout: default
title: Blog
pagination:
    data: collections.posts
    size: 1000
    alias: posts
---

<title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url + page.url }}" rel="self"/>
  <link href="{{ site.url }}"/>

  {%- set latest_post = collections.posts | sort(attribute='date', reverse=true) | first %}
  <updated>{{ latest_post.date | date('YYYY-MM-DDTHH:mm:ssZ') }}</updated>
  <id>{{ site.url }}/</id>

  <author>
    <name>{{ site.author.name }}</name>
  </author>

  {%- for post in collections.posts | sort(attribute='date', reverse=true) %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ site.url + post.url }}"/>
      <updated>{{ post.date | date('YYYY-MM-DDTHH:mm:ssZ') }}</updated>
      <id>{{ site.url + post.url }}</id>
      <content type="html">
        <![CDATA[
          {{ post.templateContent | safe }}
        ]]>
      </content>
    </entry>
  {%- endfor %}
</feed>