---
layout: default
title: Contact
---

<!-- modify this form HTML and place wherever you want your form -->
<form
  action="https://formspree.io/f/meozlkgd"
  method="POST"
  enctype="multipart/form-data"
>
  <label>
    Your email:
    <input type="email" name="email">
  </label>
   <label>Contact Number</label>
      <input
        class="fs-input"
        id="number"
        name="number"
        placeholder="(000) 000-0000"
        required
      />
  <label>
    Your file:
    <input type="file" name="upload">
  </label>
  <button type="submit">Send Message</button>
</form>