<div class="theme-toggle-wrapper">
  <input type="checkbox" class="theme-checkbox" id="theme-checkbox">
  <label for="theme-checkbox" class="theme-checkbox-label">
    <i class="fas fa-moon"></i>
    <i class="fas fa-sun"></i>
    <span class="theme-ball"></span>
  </label>
</div>