---
layout: default
meta_title: Home
meta_description: Rakshit is a reliable Digital Marketer, blogger, and a hobbyist developer playing around with HTML, CSS, wordpress and JAMstack.
body_class: home
title: Digital Marketing Consultant, Conversion Strategist
roughjs: true
---

<div role="main" class="flex flex-col">
    <section class="text-center max-w-4xl mx-auto mb-40" aria-labelledby="heading">
        <h1 class="font-display text-4xl leading-none sm:text-3xl">Hi! I’m Rakshit Soral, a <span class="highlight-yellow px-4 -mx-2 inline-block relative">reliable</span> Digital Marketer.</h1>
        <p class="text-lg mt-8 mx-auto max-w-3xl sm:text-lg">I believe marketing is all about conveying your <strong class="box-blue mx-1">message</strong> to consumers and convincing them to show<strong class="box-green mx-1">interest</strong>, and <strong class="box-red mx-1">invest</strong> in your product & services</p>
       
    </section>
    {% include "partials/work-list.njk" %}
    <section class="work-section work-section--misc max-w-4xl p-16 mt-24 flex items-start self-center relative sm:p-8 sm:mt-12  sm:flex-col-reverse">
        <div>
            <p>I enjoy <a href="/blog" class="link-misc">writing</a> about things I learn & I know, building scalable Digital Marketing campaigns, and learning a bit of <a href="https://github.com/rakshitsoral" class="link-misc">web development</a>, side-by-side.</p>
            <p class="mt-6">When not in front of a screen I like to listen music, play guitar, read books, and binge-watch anime/ series. </p>
        </div>
        <div class="img relative flex-shrink-0 ml-12 sm:ml-0 sm:mb-8"><img src="/assets/img/home/Rakshit Soral.jpg" loading="lazy" alt="Rakshit Soral portrait" height="275" width="275" class="z-10 relative transform -rotate-2"></div>
        <span class="curl3 absolute block bg-no-repeat sm:hidden" aria-hidden="true"></span>
    </section>
</div>