---
layout: default
title: A Short Bio
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV Printable A4 - Rakshit Soral</title>
    <meta name="viewport" content="width=210mm" />
    <meta name="description" content="Rakshit Soral - Curriculum Vitae" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
    <style>
        body {
            background: rgb(204,204,204); 
        }
        .page {
            width: 210mm;
            min-height: 297mm;
            background: #fff;
            margin: 0 auto 5mm auto;
            box-sizing: border-box;
            padding: 0;
            position: relative;
        }
        @media print {
            body, html {
                width: 210mm;
                min-height: 297mm;
                margin: 0 !important;
                padding: 0 !important;
                background: #fff;
                overflow: visible !important;
                font-size: 10pt !important;
            }
            .page {
                page-break-after: always;
                overflow: visible !important;
            }
            .no-print, .no-print * {
                display: none !important;
            }
        }
        html, body {
            font-family: 'Lato', helvetica, arial, sans-serif;
            font-size: 10pt;
            color: #222;
        }
        .cv {
            width: 210mm;
            min-height: 297mm;
            padding: 0;
        }
        .mainDetails {
            padding: 6mm 0 0 6mm;
            background: #fff;
        }
        #name {
            float: left;
            text-transform: uppercase;
            padding: 5mm 0 0 4mm;
        }
        #name h1 {
            font-size: 22pt;
            font-family: 'Oswald', Helvetica, Arial, sans-serif;
            line-height: 27pt;
            color: #222;
        }
        #name h2 {
            font-size: 12pt;
            font-family: 'Oswald', Helvetica, Arial, sans-serif;
            line-height: 15pt;
            color: #222;
        }
        #mainArea {
            padding: 0 6mm;
        }
        #headshot {
            width: 30mm;
            float: left;
            margin-top: 4mm;
            margin-left: -0.5mm;
        }
        #headshot img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
        .contactDetails {
            float: right;
            margin: 7mm 6mm 0 0;
        }
        .contactDetails ul { 
            list-style-type: none;
            font-family: 'Oswald', Helvetica, Arial, sans-serif;
            font-size: 9pt;
        }
        .contactDetails ul li {
            line-height: 15pt;
            color: #222;
        }
        .contactDetails ul li a, a[href^=tel] {
            color: #222; 
            padding: 2px 4px;
            text-decoration: none;
            transition: all .1s ease-in;
        }
        .contactDetails ul li a:hover { 
            color: #777;
            text-decoration: underline;
        }
        .icon {
            font-size: 12pt;
        }
        .bold { font-weight: bold; }
        .clear { clear: both; }
        section {
            border-top: 0.7mm dotted #444;
            padding: 3mm 0 0 0;
        }
        section:first-child {
            border-top: 0;
            padding: 5mm 0 0 0;
        }
        section:last-child {
            padding: 3mm 0 0 0;
        }
        .sectionTitle {
            float: left;
            width: 36mm;
            margin-bottom: 3mm; 
        }
        .sectionTitle h1 {
            font-family: 'Oswald', Helvetica, Arial, sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 13pt;
            color: #222;
        }
        .sectionContent {
            float: right;
            width: 130mm;
            font-size: 10pt;
        }
        .subDetails {
            font-family: 'Lato', Helvetica, Arial, sans-serif;
            font-size: 10pt;
            color: #222;
            font-weight: bold;
        }
        .keySkills {
            list-style-type: none;
            column-count: 2;
            margin-bottom: 3mm;
            font-size: 10pt;
            color: #222;
            line-height: 12pt;
        }
        .keySkills li {
            margin-bottom: 2mm;
        }
        .list { 
            list-style-type: none;
            column-count: 1;
            font-size: 10pt;
            color: #222;
            line-height: 13pt;
        }
        .list ul {
            list-style-type: disc;
            margin-left: 4mm;
            margin-bottom: 1mm;
        }
        .list ul li {
            margin-bottom: 2mm;
        }
        button {
            background-color: black;
            width: 200px;
            border: none;
            outline: 0;
            color: #fff;
            font-family: 'Oswald', Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: bold;
            padding: 7px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 0 330px;
            cursor: pointer; 
            text-transform: uppercase;
        }
        #button {
            width: 210mm;
            height: 32px;
            position: fixed;
            z-index: 10;
            background: #222;
            border-bottom: solid #222 1px;
            top: 0px;
        }
        p {
            line-height: 13pt;
            margin-bottom: 2mm;
            color: #222;
            word-break: break-word;
            font-size: 10pt;
        }
        a {
            text-decoration: none;
        }
        a:hover { 
            text-decoration: underline;
        }
        /* Custom tweaks for print fit */
        @media print {
            .mainDetails, #mainArea, section, .sectionContent, .contactDetails ul {
                padding: 0 !important;
                margin: 0 !important;
            }
            p, li { font-size: 9pt; }
        }
    </style>
</head>
<body id="top">
    <!-- Page 1 -->
    <div class="page">
        <div id="button" class="no-print">
            <button type="button" onclick="window.print()"><span class="button-txt">
                <i class="fa fa-print" aria-hidden="true"></i> &nbsp;Print</span>
            </button>
        </div>
        <div class="cv">
            <div id="header">
                <div class="contactDetails">
                    <ul>
                        <li class="icon" title="Email me!"><a href="mailto:rakshitksoral@gmail.com"><i class="fa fa-envelope"></i>&nbsp;rakshitksoral@gmail.com</a></li>
                        <li class="icon" title="Call me!"><a href="tel:+919602542617"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;+91 9602542617</a></li>
                        <li class="icon" title="Visit my website!"><a href="https://rakshitsoral.com/"><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;rakshitsoral.com</a></li>
                        <li class="icon" title="Connect with me!"><a href="https://linkedin.com/in/rakshitsoral"><i class="fa fa-linkedin" aria-hidden="true"></i>&nbsp;linkedin.com/in/rakshitsoral</a></li>
                    </ul>
                </div>
            </div>
            <div class="mainDetails">
                <div id="headshot">
                    <img id="avatar" src="https://visualangle.ee/delivery/temp_image/icon.png" alt="Rakshit Soral" title="This is me" />
                </div>
                <div id="name">
                    <h1>Rakshit Soral</h1>
                    <h2>Marketing Leader</h2>
                </div>
                <div class="clear"></div>
            </div>
            <div id="mainArea">
                <section>
                    <article>
                        <div class="sectionTitle">
                            <h1>Profile</h1>
                        </div>
                        <div class="sectionContent">
                            <p>Marketing leader with 10+ years' experience in B2B SaaS, demand generation, content strategy, and marketing automation. Proven ability to deliver revenue through omni-channel campaigns, ABM, and cold outbound. Skilled at growing high-performance teams, scaling GTM from zero, and leveraging AI and CRM to streamline ops.</p>
                        </div>
                    </article>
                    <div class="clear"></div>
                </section>
                <section>
                    <div class="sectionTitle">
                        <h1>Tools</h1>
                    </div>
                    <div class="sectionContent">
                        <ul class="keySkills">
                            <li class="subDetails">Marketing Automation/CRM</li>
                            <li>HubSpot, Mailchimp, Apollo.io, Freshworks CRM</li>
                            <li class="subDetails">SEO/Analytics</li>
                            <li>Ahrefs, Ubersuggest, GA4, Google Search Console</li>
                            <li class="subDetails">Content, Productivity & Sales Tech</li>
                            <li>WordPress, Canva, ChatGPT, Apollo.io</li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </section>
            </div>
        </div>
    </div>
    <!-- Page 2 -->
    <div class="page">
        <div class="cv">
            <div id="mainArea">
                <section>
                    <div class="sectionTitle">
                        <h1>Work Experience</h1>
                    </div>
                    <div class="sectionContent">
                        <ul class="list">
                            <li>
                                <span class="subDetails">Oct 2024 - Present&nbsp;</span><span class="bold">Marketing & Demand Generation Specialist, Kitecyber, CA (Remote)</span>
                                <ul>
                                    <li>Spearheaded website repositioning—drove 40% increase in product trial signups.</li>
                                    <li>Grew LinkedIn by 2,000+ followers; improved brand authority fast.</li>
                                    <li>Launched email & Google Ads, increasing qualified leads 20%.</li>
                                </ul>
                            </li>
                            <li>
                                <span class="subDetails">Aug 2022 - Sep 2024&nbsp;</span><span class="bold">Product Marketing Manager, Plutomen Technologies, Ahmedabad (Remote)</span>
                                <ul>
                                    <li>Led team; drove 200+ qualified leads, delivered $250K marketing pipeline.</li>
                                    <li>Built 30% organic share for XR+AI platform with content/co-marketing.</li>
                                    <li>Launched automated onboarding, improved lead conversion/engagement.</li>
                                </ul>
                            </li>
                            <li>
                                <span class="subDetails">Oct 2017 - July 2022&nbsp;</span><span class="bold">Demand Generation Lead, Simform Solutions, Ahmedabad (Hybrid)</span>
                                <ul>
                                    <li>Drove 30+ qualified leads/month via SEO/PPC & ABM strategies.</li>
                                    <li>Pioneered influencer/blog campaigns, lifting traffic by 1,000+/mo.</li>
                                    <li>Secured 50+ top-tier backlinks, boosting organic rank by 40%.</li>
                                </ul>
                            </li>
                            <li>
                                <span class="subDetails">Apr 2016 - Sep 2017&nbsp;</span><span class="bold">Inbound Marketing Exec, Hoojook (RimTim), Gurgaon</span>
                                <ul>
                                    <li>Scaled client sites to 3,000+ visits/month via SEO/content.</li>
                                    <li>Launched FB ad campaigns for steady leads.</li>
                                </ul>
                            </li>
                            <li>
                                <span class="subDetails">Jul 2015 - Mar 2016&nbsp;</span><span class="bold">Jr. Content Reporter, Girnar Softwares, Jaipur</span>
                                <ul>
                                    <li>Helped scale editorial traffic to 100,000+ visits/mo.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </section>
                <section>
                    <div class="sectionTitle">
                        <h1>Education</h1>
                    </div>
                    <div class="sectionContent">
                        <ul class="list">
                            <li><span class="subDetails">2011 - 2015&nbsp;</span>B.Tech, Computer Science Engineering, Rajasthan Technical University, Kota</li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
