<header id="header" class="header mb-12 py-12 flex items-center sm:mb-6 sm:py-6 sm:block">
    <div class="logo w-1/2 sm:w-full">
        <a href="{{ '/' | url }}">
            <img src="/assets/img/Rakshit Soral Logo_new (1).png" width="250" loading="lay" alt="Rakshit Soral logo" height="56" alt="{{ site.title }}">
        </a>
    </div>
    <nav role="navigation" aria-label="Main Navigation" class="text-center whitespace-nowrap sm:overflow-y-auto sm:px-0 sm:pb-2 sm:text-left">
        <!--
        {% for item in menu %}
        <a href="{{ item.url | url }}" class=" {% if page.url == item.url %}active{% endif %}">{{ item.label }}</a>
        {% endfor %}
        -->
        
        <a href="/about" class="{{ 'active' if '/about' in page.url }} p-2 mx-2 text-white inline-block no-underline">About</a>
        <a href="/work" class="{{ 'active' if '/work' in page.url }} p-2 mx-2 text-white inline-block no-underline">Work</a>
        <a href="/blog" class="{{ 'active' if '/blog' in page.url }} p-2 mx-2 text-white inline-block no-underline">Blog</a>
         <a href="/resume" class="{{ 'active' if '/resume' in page.url }} p-2 mx-2 text-white inline-block no-underline">Resume</a>
    </nav>
    <div class="contact w-1/2 text-right sm:w-full sm:text-left">
        
    </div>
</header>