  <section class="work-section work-section--dialpad p-16 max-w-2xl mb-40 flex items-start relative sm:p-8 sm:mt-12 sm:flex-col">
      <img class="flex-shrink-0 mr-12 sm:mb-4" loading="lazy" alt="simform" width="96" height="74" viewBox="0 0 96 74" fill="none" src="/assets/img/Plutomen.png"></img>
      <div>
          <h2 class="font-display text-sm leading-none uppercase tracking-widest transform -rotate-3 mb-6 -ml-2 text-blue-400">Currently</h2>
          <p>I work at Simform where I build scalable Digital Marketing Campaigns as a part of my work.</p>
          <p class="mt-4"><a href="/work/plutomen" class="link-dialpad">What I do at Plutomen</a></p>
      </div>
      <span class="curl1 absolute block bg-no-repeat sm:hidden" aria-hidden="true"></span>
  </section>
  <section class="work-section work-section--dialpad p-16 max-w-2xl mb-40 flex items-start relative sm:p-8 sm:mt-12 sm:flex-col">
      <img class="flex-shrink-0 mr-12 sm:mb-4" loading="lazy" alt="simform" width="96" height="74" viewBox="0 0 96 74" fill="none" src="/assets/img/Simform.png"></img>
      <div>
          <h2 class="font-display text-sm leading-none uppercase tracking-widest transform -rotate-3 mb-6 -ml-2 text-blue-400">Currently</h2>
          <p>I work at Simform where I build scalable Digital Marketing Campaigns as a part of my work.</p>
          <p class="mt-4"><a href="/work/simform" class="link-dialpad">What I did at Simform</a></p>
      </div>
      <span class="curl1 absolute block bg-no-repeat sm:hidden" aria-hidden="true"></span>
  </section>
  <section class="work-section work-section--stackoverflow p-16 max-w-2xl mb-40 flex items-start self-end relative sm:p-8 sm:mt-12 sm:flex-col">
       <img class="flex-shrink-0 mr-12 sm:mb-4" loading="lazy" alt="hoojook" width="96" height="74" viewBox="0 0 96 74" fill="none" src="/assets/img/hoojook.png"></img>
      <div>
          <h2 class="font-display text-sm leading-none uppercase tracking-widest transform rotate-2 mb-2 -ml-2 text-yellow-400">Before that</h2>
          <p>I worked at hoojook, building SEO and content marketing campaigns for two products.</p>
          <p class="mt-4"><a href="/work/hoojook" class="link-stack">What I did at hoojook</a></p>
      </div>
      <span class="curl2 absolute block bg-no-repeat sm:hidden" aria-hidden="true"></span>
      <span class="boxes absolute block bg-no-repeat sm:hidden" aria-hidden="true"></span>
  </section>
  <section class="work-section work-section--canfield p-16 max-w-2xl mb-40 flex items-start relative sm:p-8 sm:mt-12 sm:flex-col">
         <img class="flex-shrink-0 mr-12 sm:mb-4" loading="lazy" width="96" alt="carbay" height="74" viewBox="0 0 96 74" fill="none" src="/assets/img/carbay.png"></img>

      <div>
          <h2 class="font-display text-sm leading-none uppercase tracking-widest transform -rotate-3 mb-6 -ml-2 text-green-400">And before that</h2>
          <p>I worked at Carbay.com, building content related to automobiles that include news, auto-expos, articles, etc. </p>
          <p class="mt-4"><a href="/work/girnarsoft" class="link-canfield">What I did at GirnarSoft (Carbay.com)</a></p>
      </div>
      <span class="toggle absolute block bg-no-repeat sm:hidden" aria-hidden="true"></span>
  </section>
